<form [formGroup]="employeeData" (ngSubmit)="onSubmit()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Create Employee</h3>
        </div>
        <div class="panel-body">
            <div class="form-control field-data">
                <label for="fullName">Full Name</label>
                <div style="width: 42%;">
                    <input id="fullName" formControlName="name" type="text">
                </div>
            </div>
            <div class="form-control field-data">
                <label for="id">ID</label>
                <div style="width: 42%;">
                    <input id="fullName" formControlName="id" type="text">
                </div>
            </div>
            <div class="form-control field-data">
                <label>Gender</label>
                <div style="width: 42%;display: flex;justify-content: space-between;">
                    <label class="radio-inline">
                        <input type="radio" value="male" name="gender" formControlName="gender">
                        Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="female" name="gender" formControlName="gender">
                        Female
                    </label>
                </div>
            </div>
            <div class="form-control field-data">
                <label>Contact Preference</label>
                <div style="width: 42%;display: flex;justify-content: space-between;">
                    <label class="radio-inline">
                        <input type="radio" value="Phone" name="contactPreference" formControlName="contactPreference">
                        Phone
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="Mobile" name="contactPreference" formControlName="contactPreference">
                        Email
                    </label>
                </div>
            </div>
            <div class="form-control field-data">
                <label for="dateOfBirth">Date of Birth</label>
                <div style="width: 42%;">
                    <input type="text" name="dateOfBirth" formControlName="dateOfBirth" placeholder="Date">
                </div>
            </div>
            <div class="form-control field-data">
                <label for="department">Department</label>
                <div style="width: 42%;">
                    <input id="department" name="department" formControlName="department" type="text">
                </div>
            </div>
            <div class="form-control field-data">
                <label for="isActive">Is Active</label>
                <div style="width: 42%;">
                    <input id="isActive" name="isActive" formControlName="isActive" type="text">
                </div>
            </div>
            
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!employeeData.valid">Submit</button>
        </div>
    </div>
</form>